<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Answer Generator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <div class="container">

    <div class="card">
            <h1>📄 Question Paper Solver</h1>

    <p>
         Upload your question paper and let AI
            extract every question and generate
            detailed answers.
    </p>

    <form 
        action="/upload"
        method="post"
        enctype="multipart/form-data"
    >
    
    <label for="file-upload" class="upload-box">

        <div class="upload-icon">
            ☁️
        </div>

        <h3 id="upload-title">Drag & Drop your file</h3>

        <p id="upload-subtitle">or click to browse</p>

        <span id="upload-info">JPG • JPEG • PNG</span>

    </label>

    <input
        id="file-upload"
        type="file"
        name="file"
        required
    >


    <button type="submit">✨ Generate Answers</button>

    </form>
    <div id="loading-overlay">
    <div class="loader-card">
        <div class="spinner"></div>

        <h2>Generating Answer...</h2>

        <p>
            AI is reading your question paper.
            Please Wait.
        </p>

    </div>
    </div>
    </div>
</div>

<script>

    const fileInput = document.getElementById("file-upload");

    const title = document.getElementById("upload-title");

    const subtitle = document.getElementById("upload-subtitle");

    const info = document.getElementById("upload-info");

    fileInput.addEventListener("change", function(){

        if(this.files.length > 0){

            title.textContent = "✅ " + this.files[0].name;

            subtitle.textContent = "Ready to upload";

            info.textContent = "";

        }

    });

    const form = document.querySelector("form");
    const overlay = document.getElementById("loading-overlay");

    form.addEventListener("submit", function(){
        overlay.style.display = "flex";

    });

</script>

</body>
</html>